[submodule "trpo"]
	path = trpo
	url = git@github.com:brain-research/mirage-rl-trpo.git
[submodule "bpttv"]
	path = bpttv
	url = git@github.com:brain-research/mirage-rl-bpttv.git
[submodule "stein"]
	path = stein
	url = git@github.com:brain-research/mirage-rl-stein.git
[submodule "qprop"]
	path = qprop
	url = git@github.com:brain-research/mirage-rl-qprop.git
