[submodule "trpo"]
	path = trpo
	url = https://github.com/ikostrikov/pytorch-trpo
[submodule "bpttv"]
	path = bpttv
	url = https://github.com/wgrathwohl/BackpropThroughTheVoidRL
[submodule "stein"]
	path = stein
	url = https://github.com/DartML/PPO-Stein-Control-Variate
[submodule "qprop"]
	path = qprop
	url = https://github.com/shaneshixiang/rllabplusplus
